<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jwd"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- 连接互联网Internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GPS定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
               
        
        
        <activity
            android:name="com.example.jwd.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.jwd.login"></activity>
        <activity android:name="com.example.jwd.Register"></activity>
        <activity android:name="com.example.jwd.sjsz"></activity>
        <activity android:name="com.example.jwd.shimiao"></activity>
        <activity android:name="com.example.jwd.sanshimiao"></activity>
        <activity android:name="com.example.jwd.yifen"></activity>
        <activity android:name="com.example.jwd.wufen"></activity>
        <activity android:name="com.example.jwd.shifen"></activity>
        <activity android:name="com.example.jwd.sanshifen"></activity>
		<activity android:name="com.example.jwd.clzk"></activity>
		<activity android:name="com.example.jwd.clzk1"></activity>
        

        
        </application>
</manifest>